
/* HTML 16px = 1rem */

body:before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-2;
  width:100%;
  height:100vh;
  background:url(../img/background.jpg) center no-repeat;
  background-size:cover;
}

body{
  /* Twtter Font */
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
  box-sizing: border-box;
}
.toggle-dark{
  color: white;
  /* background-color: #343a40; */
}
.toggle-light{
  color: rgb(39, 39, 39);
  background-color: white;
}
.toggle-dark-only{
  background-color: rgba(255, 255, 255, 0.5) !important;
}

/* navbar */
.navbar{
  letter-spacing: .05rem;
  background-color: rgba(52, 58, 64, 0.8) !important;
  z-index: 1;
}
.navbar-logo img{
  height: 2.5rem;
}

/* home */
.home-wrap{
  position: relative;
}
.home-inner{
  /* background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed; iOSでバグあり*/
  width: 100%;
  height: 35rem;
  margin: 0 auto;
}
.home-wrap img{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
	width: 70%;
	max-width: 800px;
  animation-name: slide-up;
  animation-duration: 2s;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(-50%,-10%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
}
.under-line{
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #fff;
  height: 1.5px;
	width: 80%;
  animation-name: under-line;
  animation-duration: 2s;
}
@keyframes under-line {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 80%;
  }
}

/* about */
#about{
  padding-top: 3.5rem;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#about h2{
  margin-bottom: 1rem;
}
.about-img{
  margin-bottom: 2.5rem;
  border-radius: 50%;
}
.about-text p{
	line-height: 1;
}
.slideIn-left{
  animation-name: slideIn-left;/* アニメーション名 */
  animation-duration: 2s;/* アニメーション時間 */
}
@keyframes slideIn-left {
  0% {
      opacity: 0;
      transform: translateX(-50%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}
.slideIn-right{
  animation-name: slideIn-right;/* アニメーション名 */
  animation-duration: 2s;/* アニメーション時間 */
}
@keyframes slideIn-right {
  0% {
      opacity: 0;
      transform: translateX(30%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/* skills */
#skills{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  width: 100%;
  margin: 0 auto;
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  z-index: -1;
}
#skills h2, h3{
  text-shadow: .1rem .1rem 1rem rgb(202, 171, 32);
}
.fa-code{
  color: #e54d26;
}
.fa-css3{
  color: #2163af;
}
.fa-bold{
  color: #563d7c;
}
.fa-sass{
  color: #15AABF;
}
.fa-js-square{
  color: #21af79;
}
.fa-php{
  color: #ca3398;
}
.fa-wordpress{
  color: #555454;
}
.fa-git-alt{
	color: #2e2e2e;
}
.slideIn-up{
  font-size: 4rem;
	margin: 1rem;
}
.slideIn-up-start{
  animation-name: slideIn-up-start;/* アニメーション名 */
  animation-duration: 2s;/* アニメーション時間 */
}
@keyframes slideIn-up-start {
  0% {
      opacity: 0;
      transform: translateY(50%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* products */
#products{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
#products h2{
  margin-bottom: 1rem;
}
.card{
  padding: 1rem;
	background-color: rgba(255, 255, 255, .8);
	max-width: 500px;
	margin: 0 auto 1rem auto;
}
.card-body{
  color: #2e2e2e;
}
.card-header .card-text{
  font-size: 1.5rem;
  font-weight: bold;
}
.card-title{
  font-weight: bold;
}

/* contact */
#contact{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

#contact button{
	display: block;
	margin: 0 auto;
}

/* social */
#social{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.social a{
  font-size: 4rem;
  padding: 2rem;
}
.fa-twitter{
  color: #00aced;
}
.fa-instagram{
  color: #a339a7;
}
.fa-twitter:hover,
.fa-instagram:hover{
  color: white;
}

/* レスポンシブ */

@media (max-width: 992px){
  .card-title{
    font-size: 1.2rem;
  }
}

@media (max-width: 768px){
  .home-wrap button{
    font-size: 1rem;
    top: 62.5%;
  }
  #about img{
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .about-text{
    margin-left: 1rem;
	}
	#contact{
		max-width: 600px;
	}
}

@media (max-width: 576px){
  .home-wrap button{
    font-size: 1rem;
    top: 65%;
  }
  .home-inner{
    height: 25rem;
  }
  .card-header{
    text-align: left;
  }
  .card-header .card-text{
    font-size: 1rem;
    font-weight: bold;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








